<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details of {{ commitment.nome }}</title>
</head>
<body>
    <p> {{ commitment.nome }} </p>
    <p> {{ commitment.description }} </p>
    <p> {{ commitment.data }} </p>

    <button onclick="location.href = 'edit-forms/{{ commitment.id }}'">Editar</button>
    <button onclick="location.href = 'delete-forms/{{ commitment.id }}'">Excluir</button>
</body>
</html>